<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yangyang.user.mapper.SysUserRoleMapper">
    <resultMap id="sysAppUserRole" type="com.yangyang.model.SysAppUserRole">
        <result column="user_id" property="userId"></result>
        <result column="role_id" property="roleId"></result>
    </resultMap>

    <sql id="userRole">
        t1.user_id,t1.role_id
    </sql>

    <delete id="deleteUserRole">
        delete from mall_role_user
        <where>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
            <if test="roleId != null">
               and role_id = #{roleId}
            </if>
        </where>

    </delete>

    <insert id="batchInsert">
        insert into mall_role_user (user_id,role_id) values
        <foreach collection="list" separator="," item="index">
            (
                #{index.userId},
                #{index.roleId}
            )
        </foreach>
    </insert>

    <select id="findRoleByUserId" resultMap="sysAppUserRole">
        select <include refid="userRole"></include>
        from mall_role_user t1
        <where>
            <if test="userId != null">
                and t1.user_id = #{userId}
            </if>
            <if test="roleId != null">
               and t1.role_id = #{roleId}
            </if>
        </where>
    </select>
</mapper>